
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        <h1>@ViewBag.s</h1>
        <h1>@ViewBag.d</h1>
    </div>
</body>
</html>
